@use "src/styles/abstracts/variables" as *; 
@use "src/styles/abstracts/mixins" as *; 

figure.captioned-image {
	width: min-content;
	max-width: 100%;
	margin: 32px auto;
	color: $c-foreground-medium;
	border: 1px solid $c-border;
	overflow-x: auto;
	overscroll-behavior: none;

	img {
		max-width: unset;
		border-bottom: 1px solid $c-border;
		object-fit: cover;
	}

	figcaption {
		padding-inline: 0.25em;
		transform: translateZ(0px);
		-webkit-transform: translateZ(0px);
	}
}
