.change-log {
	&__content {
		max-height: 150px;
		padding: 8px;
		background-color: black;
		border: 1px solid $c-border;
		list-style: none;
		overflow-y: auto;

		ul {
			color: $c-foreground-medium;

			li.sublist::marker {
				content: '';
			}

			li {
				line-height: 1;

				a {
					line-height: 1.15;
				}
			}
		}
	}

	&__day:not(:first-child) {
		margin-top: 16px;
	}
}
