header {
	position: sticky;
	top: 0px;
	right: 0;
	left: 0;
	background-color: $c-orange;
	font-family: 'Playfair Display';
	z-index: z(header);
	transition: background-color 0.2s cubic-bezier(0, 0.55, 1, 0.48);

	&.submerged {
		background-color: $c-oxford-blue;
	}

	nav {
		display: flex;
		align-items: center;
		max-width: $page-width;
		height: 3.5rem;
		margin: 0 auto;

		.brand {
			margin-right: auto;
			margin-left: 0;
			line-height: 1.25;
			font-size: 2rem;

			&:hover {
				text-decoration: none;
			}
		}

		a {
			margin-left: 2rem;
			text-decoration: none;
			color: $c-textLight;
			font-size: 1.25rem;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
