@use "src/styles/abstracts/variables" as *; 
@use "src/styles/abstracts/mixins" as *; 

.thumbnail {
	border: none;
	background-color: transparent;
	padding: 0;

	&:hover {
		cursor: pointer;
	}

	& > img {
		width: min-content;
		height: 100%;
		border: 1px solid var(--c-border);
	}

	.modal-img {
		display: none;
	}
}
