@use "src/styles/abstracts/variables" as *;
@use "src/styles/abstracts/mixins" as *;

#magic-portal {
	display: inline-block;
	position: fixed;
	z-index: 998;
	inset: 0;
	pointer-events: none;

	.hide {
		display: none;
	}

	@include for-size(700px) {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;

		&>img {
			width: 90vw !important;
			height: auto;
			max-height: none !important;
			max-width: 500px;
		}
	}

	&>img {
		image-rendering: auto;
		max-height: 50vh;
	}
}