.projects {
	padding-bottom: 256px;
	background-color: $c-deepOcean;

	.header {
		max-width: $page-width;
		padding-top: 30vh;
		padding-bottom: 30vh;
	}

	.body {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
}
