@keyframes waves-move {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(50%);
	}
}

@keyframes boat-move {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100vw);
	}
}

@keyframes boat-sway {
	0% {
		transform: rotate(3deg);
	}
	50% {
		transform: rotate(-3deg);
	}
	100% {
		transform: rotate(3deg);
	}
}

@keyframes spin-sky {
	0% {
		transform: translate(-25%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-25%, -50%) rotate(360deg);
	}
}

@keyframes spin-sky-p {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.hero {
	justify-content: center;
	min-height: 90vh;
	background-color: $c-skyBlue;

	&::before {
		top: -5%;
		left: 0;
		width: 200vw;
		height: 200vw;
		background-image: svg-load('sky-tornado.svg');
		background-repeat: no-repeat;
		overflow: hidden;
		animation: spin-sky 200s linear reverse infinite;
		@include pseudo;

		@media (orientation: portrait) {
			left: 50%;
			width: 200vh;
			height: 200vh;
			animation-name: spin-sky-p;
		}
	}

	.header {
		max-width: $page-width;
		margin-bottom: 2rem;
		color: $c-textLight;
		font-family: 'Merriweather';
		z-index: z(base);

		.title {
			opacity: 0;
			text-shadow: 0px 0px 4px #222;
			animation: fade-in-down 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
			animation-delay: 1s;
		}

		.subtitle {
			opacity: 0;
			text-shadow: 0px 0px 4px #222;
			animation: fade-in-down 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
			animation-delay: 1.75s;
		}
	}

	.picture {
		width: min-content;
		margin: 0 auto;
		margin-bottom: 2rem;
		background-color: $c-cloth;
		border-radius: $b-rad;
		overflow: hidden;
		opacity: 0;
		z-index: z(base);
		box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
		animation: fade-in-up 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
		animation-delay: 1s;

		.border {
			width: 100%;
			height: 1rem;
			background: repeating-linear-gradient(
				90deg,
				$c-spotlight,
				$c-spotlight 32px,
				$c-salmon 32px,
				$c-salmon 50px
			);
			border-top-left-radius: $b-rad;
			border-top-right-radius: $b-rad;
		}

		&__wrapper {
			display: flex;
			background-size: contain;

			img {
				$size: min(318px, calc(calc(100vw - 64px) - 5vw));
				max-width: $size;
				max-height: $size;
				margin: auto 0;
				aspect-ratio: 1 / 1;

				@include for-size(tablet, down) {
					margin: 0 auto;
				}
			}
		}
	}

	.btns {
		font-size: 1.25rem;
		opacity: 0;
		z-index: z(base);
		animation: fade-in-up 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
		animation-delay: 1.75s;

		a {
			&.contact {
				background-color: $c-blood;
				color: $c-spotlight;
			}

			&.work {
				background-color: $c-seafoam;
				color: $c-textLight;
			}
		}

		@include for-size(phone, down) {
			font-size: 1.125rem;

			& a:not(:last-child) {
				margin-right: 1.5rem;
			}
		}

		@include for-size(340px, down) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;

			& a {
				margin: 0 !important;
			}
		}

		& a:not(:last-child) {
			margin-right: 2rem;
		}
	}

	.boat {
		position: absolute;
		right: 0%;
		bottom: 16px;
		width: 100px;
		height: 100px;
		animation: boat-move 480s linear infinite;
		animation-delay: -50s;

		img {
			height: 100px;
			transform-origin: bottom;
			animation: boat-sway 4s ease infinite;
		}
	}

	.waves {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 200%;
		height: 49px;
		background-repeat: repeat-x;
		background-position: bottom;

		&.dark-waves {
			background-image: svg-load('dark-waves.svg');
			animation: waves-move 45s linear infinite;
		}

		&.light-waves {
			bottom: 8px;
			background-image: svg-load('light-waves.svg');
			animation: waves-move 45s linear reverse infinite;
		}
	}
}
