.toc {
	display: inline-block;
	margin-bottom: 16px;
	padding: 8px;
	border: 1px solid $c-border;

	summary {
		cursor: pointer;
	}

	& > ol {
		padding: 0;
		counter-reset: item;

		ol {
			margin: 0;
			padding-left: 1.5em;
			counter-reset: item;
		}
	}

	li.sublist::marker {
		content: '';
	}

	li:not(li.sublist) {
		display: block;

		@include for-size(tablet) {
			margin: 6px 0;
		}

		&::before {
			margin-right: 0.5em;
			content: counters(item, '.');
			counter-increment: item;
		}

		a {
			text-decoration: none;
			line-height: 1.15;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
