:root {
	--c-deepOcean: #000814;
	--c-oxford-blue: #001d3d;
	--c-oceanSurface: #003566;
	--c-skyBlue: #00b4d8;
	--c-seafoam: #4dac9d;
	--c-blood: #aa3333;
	--c-orange: #da390b;
	--c-salmon: #f56c5e;
	--c-spotlight: #ffd60a;
	--c-cloth: #ede0d4;
	--c-textLight: #ffffff;
	--c-textDark: #111011;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	line-height: calc(2px + 2.75ex + 2px);
}

html,
body {
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	overflow-x: hidden;
}

body {
	font-family: 'Playfair Display', 'Merriweather';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
