@font-face {
	font-family: 'Venice Classic';
	src: url('/fonts/VeniceClassic.woff2') format('woff2'), url('/fonts/VeniceClassic.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Windows';
	src: url('/fonts/Windows.woff2') format('woff2'), url('/fonts/Windows.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
