@font-face {
	font-family: 'Alagard';
	font-weight: 500;
	src: url('/fonts/Alagard.ttf');
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'FreePixel';
	font-weight: normal;
	src: url('/fonts/FreePixel.ttf');
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'FreePixel';
	font-weight: 700;
	src: url('/fonts/FreePixelBold.ttf');
	font-style: normal;
	font-display: block;
}
