---
import { Image } from '@astrojs/image/components';
import faceSpooky from '@images/face_small_spooky.webp';
import faceNormal from '@images/face_small_normal.webp';
import mt from '@images/mt.webp';
---

<section class='welcome'>
	<h1>Hi, I'm Kai</h1>
	<div class='intro'>
		<div class='intro-picture'>
			<Image class='normal' src={faceNormal} alt='' />
			<Image class='spooky' src={faceSpooky} alt='' />
		</div>
		<div class='intro-content'>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem porro, vitae aliquam illum recusandae,
				architecto iste doloremque suscipit, natus nemo voluptates eum. Dolor suscipit tenetur repellendus est
				fuga, eos cumque!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci alias rerum laborum velit ad
				cupiditate quaerat voluptas nulla perferendis, iusto quibusdam obcaecati.
			</p>
		</div>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque reprehenderit vitae aspernatur.</p>
	<ul>
		<li>Lorem ipsum dolor sit amet consectetur.</li>
		<li>Lorem ipsum dolor sit.</li>
		<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione iste accusamus!</li>
	</ul>
	<Image src={mt} alt='a cool picture' />
</section>
