---
import { getCollection } from 'astro:content';
import { FEATURED_PROJECTS } from 'src/config';
import ProjectPreview from '@components/blocks/ProjectPreview.astro';

const allPreviews = await getCollection('projectPreview', (entry) => FEATURED_PROJECTS.includes(entry.slug));
---

<section class='projects'>
	<h1>Featured Projects</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem porro, vitae aliquam illum recusandae,
		architecto iste doloremque suscipit, natus nemo voluptates eum. Dolor suscipit tenetur repellendus est fuga, eos
		cumque!
	</p>
	<ul class='projects-list'>
		{allPreviews.map((previewEntry) => <ProjectPreview previewEntry={previewEntry} />)}
	</ul>
	<p>Check out the <a href='/projects'>rest of my projects</a>.</p>
</section>
