---
import '@styles/components/SectionAbout.scss';
import { Image } from '@astrojs/image/components';
import CardSmall from '@components/blocks/CardSmall.astro';
import FishSchool from '@components/decor/FishSchool.astro';

import face from '@images/face.webp';
import { Icon } from 'astro-icon';
---

<section class='about'>
	<div class='fish-container'>
		<FishSchool class='top-right' amount={8} sizeRange={[16, 28]} />
		<FishSchool class='bottom-left go-left' amount={3} sizeRange={[16, 28]} />
		<FishSchool class='bottom-right' amount={5} sizeRange={[16, 28]} />
	</div>
	<div id='about' class='body'>
		<div class='content'>
			<h2>About me</h2>
			<p class='intro'>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, impedit accusamus ducimus enim unde
				molestiae perferendis accusantium saepe culpa ea optio, adipisci ab facere blanditiis facilis officia
				quam. Quisquam optio veniam sed commodi consequuntur doloribus, debitis alias voluptatum impedit ea.
			</p>
			<div class='tech-cards'>
				<CardSmall title='Javascript' icon={'javascript'}>
					<Icon pack='logos' name='javascript' slot='icon' />
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit odio, ducimus consequuntur recusandae
					cumque obcaecati tenetur.
				</CardSmall>
				<CardSmall title='Typescript'>
					<Icon pack='logos' name='typescript-icon' slot='icon' />
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maiores culpa harum quis ipsum ipsa
					voluptas possimus minus quisquam.
				</CardSmall>
				<CardSmall title='Sass'>
					<Icon name='sass' slot='icon' />
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, vero dolore sapiente tempora
					minima molestias reiciendis facere cum.
				</CardSmall>
				<CardSmall title='React'>
					<Icon pack='logos' name='react' style='padding: 2px; background-color: #212121;' slot='icon' />
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores debitis vitae modi ipsum culpa quam
					incidunt blanditiis, minima eos, obcaecati quisquam iste veniam.
				</CardSmall>
				<CardSmall title='Next.js'>
					<Icon name='nextjs' slot='icon' />
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus impedit harum voluptate! Nostrum cumque
					sequi hic iusto omnis quisquam iste quidem sed!
				</CardSmall>
				<CardSmall title='Astro'>
					<Icon pack='logos' name='astro' style='padding: 4px; background-color: #fff;' slot='icon' />
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores modi soluta eveniet debitis, fugit ab
					maxime esse quibusdam numquam, est ea assumenda.
				</CardSmall>
				<CardSmall title='Figma'>
					<Icon pack='logos' name='figma' style='padding: 4px; background-color: #212121;' slot='icon' />
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magni, rem, cum voluptate pariatur eaque
					illum iusto debitis dolorum iure natus eum similique, repudiandae tempore. Pariatur.
				</CardSmall>
				<article class='card-small see-more'>
					<div class='card-bg'></div>
					<h4>And many more...</h4>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nobis tenetur voluptatem ea eius
						assumenda iste fugiat ipsa numquam sequi cum atque fugit quisquam maiores provident quibusdam
						omnis nisi doloribus nesciunt, quis, id perspiciatis dignissimos voluptate? Consequuntur quaerat
						dolores cum eum dolorum voluptatum ipsa eius autem aut voluptate, nesciunt delectus ex labore
						nobis neque accusamus magnam debitis ipsum a aliquid!
					</p>
				</article>
			</div>
		</div>
		<div class='resume'>
			<Image src={face} class='resume-picture' width={321} height={382} alt='my face' />
			<div class='resume-content'>
				<div class='resume-label'>Skills</div>
				<div class='resume-info'>
					<ul class='skills'>
						<li>Frontend Development 💻</li>
						<li>Backend Development 🧩</li>
						<li>Game Development 🎮</li>
					</ul>
				</div>
				<div class='resume-label'>Location</div>
				<div class='resume-info'>🇺🇸 Vancouver, WA</div>
				<div class='resume-label'>Email</div>
				<div class='resume-info'>kainoaaraiza@gmail.com</div>
				<div class='resume-label'>Languages</div>
				<div class='resume-info'>
					<ul>
						<li>English</li>
						<li>Spanish</li>
					</ul>
				</div>
				<div class='resume-links'>
					<a href='#' title='Github'>
						<Icon pack='logos' name='github-icon' />
					</a>
					<a href='#' title='Gitlab'> <Icon pack='logos' name='gitlab' /></a>
					<a href='#' title='Linkedin'> <Icon pack='logos' name='linkedin-icon' /></a>
					<a href='#' title='Stack Overflow'>
						<Icon pack='logos' name='stackoverflow-icon' />
					</a>
					<a href='#' title='DEV'>
						<Icon name='dev' />
					</a>
				</div>
				<div class='resume-label'>View full resume</div>
			</div>
		</div>
	</div>
</section>

<script>
	import IoElement from '@utils/IoElement';

	const body = new IoElement(document.querySelector('section.about .body'));
	body.subscribe('middle', (f, e) => {
		if (f.top.above) {
			e.classList.add('fade-in');
			e.classList.remove('fade-out');
		} else {
			e.classList.remove('fade-in');
			e.classList.add('fade-out');
		}
	});

	const fishSchools = document.querySelectorAll('section.about .fish-school');
	fishSchools.forEach((fishSchool) => {
		const ioFishSchool = new IoElement(fishSchool);
		ioFishSchool.subscribe('bottom', (f, e) => {
			if (f.top.above) e.classList.remove('stay-still');
			else e.classList.add('stay-still');
		});
	});
</script>
