---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
import CardSmall from '@components/blocks/CardSmall.astro';
import Bubbles from '@components/decor/Bubbles.astro';
import FishSchool from '@components/decor/FishSchool.astro';

import face from '@images/face.webp';
import '@styles/components/SectionAbout.scss';
import SocialsLinks from '@components/blocks/SocialsLinks.astro';
---

<section id='about' class='about'>
	<div class='arrow-down' data-aos='fade-out-zoom' data-aos-anchor-placement='bottom-bottom' data-aos-offset='0'>
		<Icon name='bi:chevron-compact-down' />
	</div>
	<div class='fish-container'>
		<FishSchool class='f1' amount={8} />
		<FishSchool class='f2 go-left' amount={3} />
	</div>

	<Bubbles class='b1' amount={2} />

	<div class='body' data-aos='fade' data-aos-mirror='true' data-aos-offset='300'>
		<div class='content'>
			<h2>About me</h2>
			<p class='intro'>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, impedit accusamus ducimus enim unde
				molestiae perferendis accusantium saepe culpa ea optio, adipisci ab facere blanditiis facilis officia
				quam. Quisquam optio veniam sed commodi consequuntur doloribus, debitis alias voluptatum impedit ea.
			</p>
			<div class='tech-cards'>
				<CardSmall title='Javascript' icon={'javascript'}>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit odio, ducimus consequuntur recusandae
					cumque obcaecati tenetur.
					<Icon name='logos:javascript' slot='icon' />
				</CardSmall>
				<CardSmall title='Typescript'>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maiores culpa harum quis ipsum ipsa
					voluptas possimus minus quisquam.
					<Icon name='logos:typescript-icon' slot='icon' />
				</CardSmall>
				<CardSmall title='Sass'>
					<Icon name='sass' slot='icon' />
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, vero dolore sapiente tempora
					minima molestias reiciendis facere cum.
				</CardSmall>
				<CardSmall title='React'>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores debitis vitae modi ipsum culpa quam
					incidunt blanditiis, minima eos, obcaecati quisquam iste veniam.
					<Icon name='logos:react' style='padding: 2px; background-color: #212121;' slot='icon' />
				</CardSmall>
				<CardSmall title='Next.js'>
					<Icon name='nextjs' slot='icon' />
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus impedit harum voluptate! Nostrum cumque
					sequi hic iusto omnis quisquam iste quidem sed!
				</CardSmall>
				<CardSmall title='Astro'>
					<Icon name='logos:astro' style='padding: 4px; background-color: #fff;' slot='icon' />
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores modi soluta eveniet debitis, fugit ab
					maxime esse quibusdam numquam, est ea assumenda.
				</CardSmall>
				<CardSmall title='Figma'>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magni, rem, cum voluptate pariatur eaque
					illum iusto debitis dolorum iure natus eum similique, repudiandae tempore. Pariatur.
					<Icon name='logos:figma' style='padding: 4px; background-color: #212121;' slot='icon' />
				</CardSmall>
				<article class='card-small see-more'>
					<div class='card-bg'></div>
					<h4>And many more...</h4>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nobis tenetur voluptatem ea eius
						assumenda iste fugiat ipsa numquam sequi cum atque fugit quisquam maiores provident quibusdam
						omnis nisi doloribus nesciunt, quis, id perspiciatis dignissimos voluptate? Consequuntur quaerat
						dolores cum eum dolorum voluptatum ipsa eius autem aut voluptate, nesciunt delectus ex labore
						nobis neque accusamus magnam debitis ipsum a aliquid!
					</p>
				</article>
			</div>
		</div>
		<div class='resume'>
			<Image src={face} class='resume-picture' width={321} height={382} alt='my face' />
			<div class='resume-content'>
				<div class='resume-label'>Skills</div>
				<div class='resume-info'>
					<ul class='skills'>
						<li>Frontend Development 💻</li>
						<li>Backend Development 🧩</li>
						<li>Game Development 🎮</li>
					</ul>
				</div>
				<div class='resume-label'>Location</div>
				<div class='resume-info'>🇺🇸 Vancouver, WA</div>
				<div class='resume-label'>Email</div>
				<div class='resume-info'>kainoaaraiza@gmail.com</div>
				<div class='resume-label'>Languages</div>
				<div class='resume-info'>
					<ul>
						<li>English</li>
						<li>Spanish</li>
					</ul>
				</div>
				<SocialsLinks />
			</div>
		</div>
	</div>
</section>
