---
import { getCollection } from 'astro:content';
import { FEATURED_PROJECTS } from 'src/config';
import ProjectPreview from '@components/blocks/ProjectPreview.astro';

const allPreviews = await getCollection('projectPreview', (entry) => FEATURED_PROJECTS.includes(entry.slug));
---

<section class='projects'>
	<h1>Featured Projects</h1>
	<p>
		These are projects that I'm particularly proud of. Some may be demos for learning purposes, others are real
		published apps! You can view the rest of my projects including full writeups on each of them <a href='/projects'
			>here</a
		>.
	</p>
	<ul class='projects-list'>
		{allPreviews.map((previewEntry) => <ProjectPreview previewEntry={previewEntry} />)}
	</ul>
</section>
