---
import { getCollection } from 'astro:content';
import '@styles/components/SectionProjects.scss';
import ProjectCard from '@components/blocks/ProjectCard.astro';

// Get all entries from a collection. Requires the name of the collection as an argument.
const allProjects = await getCollection('project');
---

<section class='projects'>
	<div
		class='header'
		data-aos='fade-out-zoom'
		data-aos-mirror='true'
		data-aos-anchor='section.about .body'
		data-aos-offset='300'
	>
		<h2 class='title'>Let's look at some of my work</h2>
	</div>
	<div class='body'>
		{
			allProjects.map(async (project) => {
				return <ProjectCard data={project.data} body={project.body} />;
			})
		}
	</div>
</section>
