---
import { getCollection } from 'astro:content';
import '@styles/components/SectionProjects.scss';
import ProjectCard from '@components/blocks/ProjectCard.astro';

// Get all entries from a collection. Requires the name of the collection as an argument.
const allProjects = await getCollection('project');
---

<section class='projects'>
	<div class='header'>
		<h2 class='title'>Let's look at some of my work</h2>
	</div>
	{
		allProjects.map(async (project) => {
			return <ProjectCard data={project.data} body={project.body} />;
		})
	}
</section>

<script>
	import IoElement from '@utils/IoElement';

	const projectCards = document.querySelectorAll('.project-card');

	projectCards.forEach((card) => {
		const ioCard = new IoElement(card);
		ioCard.subscribe('middle', (f, e) => {
			if (f.top.above && f.bottom.below) {
				e.classList.add('fade-in');
				e.classList.remove('fade-out');
			} else {
				e.classList.add('fade-out');
				e.classList.remove('fade-in');
			}
		});
	});
</script>
