---
import { getCollection } from 'astro:content';
import ProjectCard from '@components/blocks/ProjectCard.astro';
import Bubbles from '@components/decor/Bubbles.astro';
import FishSchool from '@components/decor/FishSchool.astro';
import '@styles/components/SectionProjects.scss';

// Get all entries from a collection. Requires the name of the collection as an argument.
const allProjects = await getCollection('project');
---

<section class='projects'>
	<Bubbles class='b1' amount={70} animIterations={2} />
	<div class='fish-container'>
		<FishSchool class='f1 go-left' amount={8} />
		<FishSchool class='f2 go-right' amount={8} />
		<FishSchool class='f3 go-left' amount={8} />
	</div>
	<div
		class='header'
		data-aos='fade-out-zoom'
		data-aos-mirror='true'
		data-aos-anchor='section.about .body'
		data-aos-offset='300'
	>
		<h2 class='title'>Let's look at some of my work</h2>
	</div>
	<div class='body'>
		{
			allProjects.map(async (project) => {
				return <ProjectCard project={project} />;
			})
		}
	</div>
</section>
