---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
import Bubbles from '@components/decor/Bubbles.astro';
import FishSchool from '@components/decor/FishSchool.astro';

import leavesBg from '@images/svg/squiggle-waves.svg';
import face from '@images/face.webp';
import '@styles/components/SectionAbout.scss';
import SocialsLinks from '@components/blocks/SocialsLinks.astro';
---

<section id='about' class='about'>
	<div class='arrow-down' data-aos='fade-out-zoom' data-aos-anchor-placement='bottom-bottom' data-aos-offset='0'>
		<Icon name='bi:chevron-compact-down' />
	</div>
	<div class='fish-container'>
		<FishSchool class='f1' amount={8} />
		<FishSchool class='f2 go-left' amount={3} />
	</div>

	<Bubbles class='b1' amount={2} />

	<div class='body' data-aos='fade' data-aos-mirror='true' data-aos-offset='300'>
		<div class='content'>
			<h2>About me</h2>
			<p class='intro'>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, impedit accusamus ducimus enim unde
				molestiae perferendis accusantium saepe culpa ea optio, adipisci ab facere blanditiis facilis officia
				quam. Quisquam optio veniam sed commodi consequuntur doloribus, debitis alias voluptatum impedit ea.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, totam id molestias omnis quas
				consequuntur cum perferendis recusandae atque maxime quidem laboriosam fuga sit! Eaque reprehenderit
				adipisci voluptatum soluta natus!
			</p>
			<div class='label'>Tech Stack</div>
			<ul>
				<li>Typescript</li>
				<li>React</li>
				<li>Next.js</li>
				<li>Astro</li>
				<li>Sass</li>
				<li>Figma</li>
			</ul>
			<div class='label'>Interests</div>
			<ul>
				<li>Web Development</li>
				<li>Game Development</li>
				<li>3D Modelling</li>
				<li>Guitar</li>
			</ul>
		</div>
		<div class='picture'>
			<div class='picture-wrapper'>
				<Image src={face} alt='my face' class='picture-face' />
				<SocialsLinks />
			</div>
		</div>
	</div>
</section>
