@mixin margin-x($v) {
	margin: {
		right: $v;
		left: $v;
	}
}

@mixin margin-y($v) {
	margin: {
		top: $v;
		bottom: $v;
	}
}

@mixin margin-x-auto {
	@include margin-x(auto);
}

@mixin margin-y-auto {
	@include margin-y(auto);
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
	display: $display;
	position: $pos;
	content: $content;
}

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

@mixin for-size($breakpoint, $direction: down) {
	// If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {
		// Get the breakpoint value.
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		// Determine the direction and then write the media query.
		@if $direction == up {
			@media (min-width: $breakpoint-value) {
				@content;
			}
		} @else if $direction == down {
			@media (max-width: $breakpoint-value) {
				@content;
			}
		}
	}
	// If the breakpoint doesn't exist in the map, pass a manual breakpoint
	@else {
		@if $direction == up {
			@media (min-width: $breakpoint) {
				@content;
			}
		} @else if $direction == down {
			@media (max-width: $breakpoint) {
				@content;
			}
		}
	}
}
