@mixin margin-x($v) {
	margin: {
		left: $v;
		right: $v;
	}
}

@mixin margin-y($v) {
	margin: {
		top: $v;
		bottom: $v;
	}
}

@mixin margin-x-auto {
	@include margin-x(auto);
}

@mixin margin-y-auto {
	@include margin-y(auto);
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}
