$c-blood: var(--c-blood);
$c-highlight: var(--c-highlight);
$c-link: var(--c-link);
$c-link-hover: var(--c-link-hover);
$c-border: var(--c-border);
$c-foreground: var(--c-light);
$c-foreground-medium: var(--c-medium);
$c-background: var(--c-dark);

$z-indexes: ('modal', 'header', 'base');

$breakpoints: (
	phone-sm: 320px,
	phone: 420px,
	tablet-sm: 512px,
	tablet: 768px,
	desktop-sm: 1025px,
	desktop: 1600px,
);

$page-width: min(700px, 100%);
