$c-blood: var(--c-blood);
$c-highlight: var(--c-highlight);
$c-link: var(--c-link);
$c-link-hover: var(--c-link-hover);
$c-border: var(--c-border);
$c-foreground: var(--c-light);
$c-foreground-medium: var(--c-medium);
$c-background: var(--c-dark);

$z-indexes: ('modal', 'header', 'base');

$breakpoints: (
	phone-sm: 320px,
	phone: 420px,
	tablet-sm: 512px,
	tablet: 768px,
	desktop-sm: 1025px,
	desktop: 1600px,
);

$page-width: min(700px, 100%);

$font-size-small: 0.875rem;
$font-size-normal: 1rem;
$font-size-large: 1.13rem;

$h1-size: 2.5rem;
$h2-size: 1.75rem;
$h3-size: 1.25rem;
$h4-size: 1rem;
