.bubbles-container {
	position: absolute;

	.bubble {
		position: absolute;
		opacity: 0;

		@keyframes bubble {
			0% {
				opacity: 1;
				transform: translateY(0) translateX(0) scale(0.5);
			}
			60% {
				opacity: 0.9;
				transform: translateY(-100px) translateX(-20px) scale(0.75);
			}
			100% {
				opacity: 0;
				transform: translateY(-150px) translateX(0px) scale(1);
			}
		}
	}
}
