main {
	& > section {
		padding: 0.75rem 1rem;
		background-color: $c-background;
		border: 2px solid $c-border;
		@include fit-page;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		h1 {
			color: $c-blood;
			font-size: 2.5rem;

			&::before {
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
				content: '‡ ';
			}
		}
	}
}

section.welcome {
	.intro {
		min-height: 136px;
		box-sizing: content-box;

		&-picture {
			position: relative;
			float: left;
			min-width: 120px;
			height: 120px;
			margin-right: 16px;
			margin-bottom: 16px;
			padding: 4px;
			background-color: $c-blood;
			border: 1px solid $c-border;

			img {
				position: absolute;
				width: calc(100% - 8px);
				height: calc(100% - 8px);
			}

			.spooky {
				animation: spooky 1s linear infinite;

				@keyframes spooky {
					0% {
						opacity: 0;
					}
					50% {
						opacity: 0.25;
					}
					100% {
						opacity: 0;
					}
				}
			}
		}
	}
}
