.hero {
	&__intro {
		width: $page-width;
		margin: 0 auto;
		z-index: z('base');

		&-header {
			margin-bottom: 2rem;
			text-align: center;
			line-height: 1;
			color: $c-textLight;
			font-family: 'Merriweather';
			font-size: 3rem;
			font-weight: 700;
			text-shadow: 0px 2px 2px #333;
		}

		.intro-container {
			display: flex;
			height: 300px;
			border-radius: $b-rad;
			background-color: $c-cloth;
			overflow: hidden;
			box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);

			&__profile-container {
				height: 100%;
				background-color: $c-blood;
				aspect-ratio: 1 / 1;
			}
		}
	}

	&__sky-bg {
		display: flex;
		align-items: flex-end;
		position: relative;
		height: 70vh;
		background-color: $c-skyBlue;
		background-image: url('images/svg/sky-tornado.svg');
		background-repeat: no-repeat;
		background-position: bottom;
		overflow: hidden;
		background-size: 125% 125%;

		.waves {
			position: absolute;
			bottom: 0;
			width: 200%;
			height: 120px;
			background-repeat: repeat-x;
			background-position: bottom;
			transform: translateX(-50%);

			@keyframes move {
				0% {
					transform: translateX(-50%);
				}
				100% {
					transform: translateX(0%);
				}
			}

			&.dark-waves {
				background-image: url('images/svg/dark-waves.svg');
				animation: move 60s linear infinite;
			}

			&.light-waves {
				background-image: url('images/svg/light-waves.svg');
				background-position-x: 35%;
			}
		}
	}

	&__ocean-transition-bg {
		height: 30vh;
		background: linear-gradient(180deg, $c-oceanSurface 0%, $c-deepOcean 100%);
	}
}

.projects {
	height: 120vh;
	background-color: $c-deepOcean;
}
