.project-card {
	$images-hangoff: 116px;

	display: grid;
	row-gap: 32px;
	max-width: $page-width;
	margin-bottom: $images-hangoff;
	padding: 32px;
	background: radial-gradient(100% 100% at 0% 0%, rgba(100, 226, 230, 0.25) 0%, rgba(100, 226, 230, 0.01) 100%),
		radial-gradient(100% 100% at 100% 100%, rgba(100, 226, 230, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: $b-rad;
	grid-template-areas: 'text action' 'preview preview';
	grid-template-columns: 1fr auto;

	.text-content {
		padding-right: 32px;
		border-right: 1px solid $c-t-white;
		grid-area: text;

		h2 {
			line-height: 1.25;
			font-family: 'Playfair Display';
			font-size: 2rem;
		}

		p {
			margin-top: 16px;
			color: $c-textMedium;
			font-size: 0.875rem;
		}

		a.read-more {
			color: $c-salmon;
			text-decoration: none;
			font-size: 0.875rem;
			text-decoration: underline;

			&:hover {
				color: $c-orange;
			}
		}
	}

	.action-content {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		padding-left: 32px;
		grid-area: action;

		h3 {
			font-size: 1.5rem;
		}

		ul {
			display: grid;
			gap: 8px;
			margin-bottom: 32px;
			padding: 0;
			list-style: none;
			grid-auto-flow: column;
			grid-template-rows: repeat(4, 1fr);

			li {
				white-space: nowrap;
				font-size: 0.875rem;

				svg,
				span {
					vertical-align: middle;
				}

				span {
					margin-left: 0.25em;
					color: $c-textMedium;
					line-height: 1;
				}

				svg {
					display: inline;
					height: 1.15em;
				}
			}
		}

		.links {
			margin-top: auto;

			a {
				padding: 0.25em 1em;
				color: black;

				&:not(:last-child) {
					margin-right: 32px;
				}

				span,
				svg {
					vertical-align: middle;
				}

				span {
					margin-right: 4px;
					line-height: 1.5;
				}

				svg {
					display: inline;
					height: 1.15em;
				}
			}

			.view-source {
				border: 2px solid $c-seafoam;
				color: $c-seafoam;
			}

			.live-link {
				border: 2px solid $c-spotlight;
				color: $c-spotlight;
			}
		}
	}

	& .preview-images {
		display: grid;
		gap: 24px;
		width: 100%;
		margin-bottom: -$images-hangoff;
		grid-area: preview;
		grid-template-columns: 1587fr 503fr 810fr;
		grid-template-areas: 'desktop mobile tablet';

		@include for-size(tablet, down) {
			grid-template-columns: 503fr 810fr;
			grid-template-rows: auto auto;
			grid-template-areas:
				'desktop desktop'
				'mobile tablet';
		}

		img {
			object-fit: contain;
		}

		.desktop {
			grid-area: desktop;
		}

		.tablet {
			grid-area: tablet;
		}

		.mobile {
			grid-area: mobile;
		}
	}
}
