---
import '@styles/components/blocks/CardSmall.scss';
const { title, image, iconStyle } = Astro.props;
---

<article class='card-small'>
	<div class='card-bg'></div>
	<h4>{title}</h4>
	<img src={image} alt={`${title} logo`} style={iconStyle || ''} />
	<p>
		<slot />
	</p>
</article>
