---
import '@styles/components/blocks/CardSmall.scss';
const { title, icon, iconStyle } = Astro.props;
---

<article class='card-small'>
	<div class='card-bg'></div>
	<h4>{title}</h4>
	<slot name='icon' />
	<p>
		<slot />
	</p>
</article>
