---
import { Img } from 'astro-imagetools/components';
import { renderImg } from 'astro-imagetools/api';
import '@styles/components/ImagePreview.scss';

interface Props {
	src: string;
	alt: string;
}

const { src, alt } = Astro.props;

const { img } = await renderImg({ src, alt });
---

<button class='thumbnail'>
	<Img src={src} alt={alt} height={75} />
	<div class='modal-img' aria-hidden='true'>
		<Fragment set:html={img} />
	</div>
</button>

<script>
	import ModalHelper from '@utils/ModalHelper';

	document.querySelectorAll<HTMLButtonElement>('.thumbnail').forEach((thumbnail) => {
		thumbnail.addEventListener('click', (e) => {
			e.stopImmediatePropagation();

			const img = thumbnail.querySelector<HTMLImageElement>('.modal-img img');
			if (!img) return;

			ModalHelper.addContent(img.cloneNode());
			ModalHelper.open(thumbnail);
		});
	});
</script>
