---
import { Image } from '@astrojs/image/components';
import '@styles/components/ImagePreview.scss';

interface Props {
	img: ImageMetadata;
	alt: string;
}

const { img, alt } = Astro.props;
---

<button class='thumbnail'>
	<Image src={img} alt={alt} />
</button>

<script>
	import ModalHelper from '@utils/ModalHelper';

	document.querySelectorAll<HTMLButtonElement>('.thumbnail').forEach((thumbnail) => {
		thumbnail.addEventListener('click', (e) => {
			e.stopImmediatePropagation();

			const img = thumbnail.querySelector('img');
			if (!img) return;

			const src = img.getAttribute('src');
			const alt = img.getAttribute('alt');
			if (!src || !alt) return;

			const imgEle = document.createElement('img');
			imgEle.setAttribute('src', src);
			imgEle.setAttribute('alt', alt);

			ModalHelper.addContent(imgEle);
			ModalHelper.open(thumbnail);
		});
	});
</script>
