---
import '@styles/components/blocks/LinkButton.scss';

interface Props {
	href: string;
	classes?: string | string[];
}
const { href, classes }: Props = Astro.props;
---

<a href={href} class:list={['a-btn', ...[classes]]}>
	<slot />
</a>
