---
import '@styles/components/blocks/LinkButton.scss';

interface Props {
	href: string;
	['class']?: string | string[];
}
const { href, ['class']: className }: Props = Astro.props;
---

<a href={href} class:list={['a-btn', ...[className]]}>
	<slot />
</a>
