---
import { getImage } from "astro:assets";
import "@styles/components/MagicCardPreview.scss";

interface Props {
    cardName: string;
}

const { cardName } = Astro.props;

if (!cardName)
    throw new Error(`Tried to load card without valid 'cardName': ${cardName}`);

const requestStr =
    "https://api.scryfall.com/cards/named?fuzzy=" +
    cardName.split(" ").join("+");
const response = await fetch(requestStr);
const data = await response.json();

let scryfallScr = data?.image_uris?.png;
// handle double-sided cards
if (!scryfallScr) scryfallScr = data?.card_faces[0]?.image_uris?.png;

const img = await getImage({
    src: scryfallScr,
    inferSize: true,
});
---

<span class="mcp-element" data-src={img.src} data-alt={cardName}>
    <slot />
</span>
