---
import { getImage } from "astro:assets";
import "@styles/components/MagicCardPreview.scss";

interface Props {
    cardName: string;
}

const { cardName } = Astro.props;

const requestStr =
    "https://api.scryfall.com/cards/named?fuzzy=" +
    cardName.split(" ").join("+");
const response = await fetch(requestStr);
const data = await response.json();

const img = await getImage({
    src: data?.image_uris?.png,
    inferSize: true,
});
---

<span class="mcp-element" data-src={img.src} data-alt={cardName}>
    <slot />
</span>
