---
import { Image } from 'astro:assets';
import { SITE_EMAIL } from 'src/config';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import splashImage from 'src/assets/images/mt.webp'
import '@styles/pages/404.scss';
---

<BaseLayout>
	<main>
		<section class='page-missing'>
			<h1>404 - Page is missing</h1>
			<Image src={splashImage} alt='A cool image to ease your mind' />
			<p>Chances are, it's my fault you're here.</p>
			<p>
				You can yell at me about it (<a href={`mailto:${SITE_EMAIL}`}>{SITE_EMAIL}</a>) or just return to the <a
					href='/'>home page</a
				>.
			</p>
		</section>
	</main>
</BaseLayout>
