---
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/config';
import BaseHead from '@components/BaseHead.astro';
import '@styles/pages/index.scss';
import Header from '@components/Header.astro';
import SectionWelcome from '@components/pages/index/SectionWelcome.astro';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<SectionWelcome />
			<section class='projects'></section>
			<section class='about'></section>
			<section class='other-stuff'></section>
		</main>
	</body>
</html>
