---
import SectionWelcome from '@components/pages/index/SectionWelcome.astro';
import SectionProjects from '@components/pages/index/SectionProjects.astro';
import SectionOtherStuff from '@components/pages/index/SectionOtherStuff.astro';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import '@styles/pages/index.scss';
---

<BaseLayout>
	<main>
		<SectionWelcome />
		<SectionProjects />
		<!-- <SectionOtherStuff /> -->
	</main>
</BaseLayout>
