---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import '@styles/pages/index.scss';
import HeroSection from 'src/components/HeroSection.astro';
import AboutSection from 'src/components/AboutSection.astro';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<HeroSection />
			<AboutSection />
			<section class='projects'></section>
		</main>

		<script>
			import EdgesIoManager from 'src/utils/EdgesIoManager';

			const header = document.querySelector('header');

			EdgesIoManager.subscribe('.hero', (i) => {
				if (i.above) header?.classList.add('submerged');
				else header?.classList.remove('submerged');
			});
		</script>
	</body>
</html>
