---
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/config';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import SectionHero from '@components/pages/index/SectionHero.astro';
import SectionAbout from '@components/pages/index/SectionAbout.astro';
import SectionProjects from '@components/pages/index/SectionProjects.astro';
import '@styles/pages/index.scss';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div id='home'></div>
		<Header title={SITE_TITLE} />
		<main>
			<SectionHero />
			<SectionAbout />
			<SectionProjects />
		</main>

		<script>
			import EdgesIoManager from '@utils/EdgesIoManager';

			const header = document.querySelector('header');

			if (header)
				EdgesIoManager.subscribe('.hero', (f) => {
					if (f.above) header.classList.add('submerged');
					else header.classList.remove('submerged');
				});
		</script>
	</body>
</html>
