---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import '@styles/pages/index.scss';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section class='hero'>
				<div class='hero__sky-bg'>
					<div class='waves light-waves'></div>
					<div class='waves dark-waves'></div>
				</div>
				<div class='hero__ocean-transition-bg'></div>
			</section>
			<section class='projects'></section>
		</main>
		<script>
			import createIntersectionObserver from 'src/utils/createIntersectionObserver';

			const header = document.querySelector('header');
			const observed = document.querySelector('.hero__ocean-transition-bg');

			if (observed)
				createIntersectionObserver(observed, (i) => {
					if (i.above || i.below) header?.classList.add('submerged');
					else header?.classList.remove('submerged');
				});
		</script>
	</body>
</html>
