---
import YoutubeThumbnail from '@components/blocks/YoutubeThumbnail.astro';
import { getCollection } from 'astro:content';
import GalleryLayout from 'src/layouts/GalleryLayout.astro';

const allVideos = await getCollection('videos');
const sortedVideos = allVideos.sort((a, b) => b.data.dateUploaded.getTime() - a.data.dateUploaded.getTime());
---

<GalleryLayout galleryTitle='Videos'>
	<p slot='intro-text'>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam nulla laborum nesciunt voluptas ratione autem
		dolore tempore hic quis voluptatum!
	</p>
	{sortedVideos.map((video) => <YoutubeThumbnail videoId={video.data.videoId} />)}
</GalleryLayout>
