---
import '@styles/components/AboutSection.scss';
---

<section class='about'>
	<h2 class='title'>About me</h2>
</section>

<script>
	import MiddleIoManager from 'src/utils/MiddleIoManager';

	MiddleIoManager.subscribe('.about h2.title', (f, e) => {
		if (f.middle) e.classList.add('slide-in');
	});
</script>
