---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<HeaderLink href='/'>Home</HeaderLink>
		<HeaderLink href='/blog'>Blog</HeaderLink>
		<HeaderLink href='/about'>About</HeaderLink>
		<HeaderLink href='https://github.com/withastro/astro' target='_blank'>GitHub</HeaderLink>
	</nav>
</header>
