---
import HeaderLink from './HeaderLink.astro';
import '@styles/components/Header.scss';
---

<header>
	<div class='container'>
		<a href='/' class='brand'>KAK</a>
		<button class='nav-toggle-btn'> </button>
		<nav>
			<div class='links'>
				<HeaderLink href='/#home'>Home</HeaderLink>
				<HeaderLink href='/#about'>About</HeaderLink>
				<HeaderLink href='/blog'>Blog</HeaderLink>
				<HeaderLink href='https://github.com/withastro/astro' target='_blank'>GitHub</HeaderLink>
			</div>
		</nav>
	</div>
</header>

<script>
	const pathname = window.location.pathname;
	const hashLinks = document.querySelectorAll(`a[href^="${pathname}#"]`);

	hashLinks.forEach((link) => {
		link.addEventListener('click', (e) => {
			e.preventDefault();

			const targetId = link.getAttribute('href');
			if (!targetId) return;
			const target = document.querySelector(targetId.replaceAll(pathname, ''));
			if (!target) return;

			target.scrollIntoView({ behavior: 'smooth' });
		});
	});

	const nav = document.querySelector('header nav');
	const navToggleBtn = document.querySelector('.nav-toggle-btn');
	if (nav && navToggleBtn)
		navToggleBtn.addEventListener('click', (e) => {
			const isOpen = nav.classList.toggle('open');

			e.stopImmediatePropagation();

			// when it's open, a click anywhere on the page should close it
			if (isOpen)
				document.body.addEventListener(
					'click',
					() => {
						nav.classList.remove('open');
					},
					{ once: true }
				);
		});
</script>
