---
import HeaderLink from './HeaderLink.astro';
import '@styles/components/Header.scss';
---

<header>
	<div class='container'>
		<a href='/' class='brand'>KAK</a>
		<nav>
			<div class='links'>
				<HeaderLink href='/#home'>Home</HeaderLink>
				<HeaderLink href='/#about'>About</HeaderLink>
				<HeaderLink href='/blog'>Blog</HeaderLink>
				<HeaderLink href='https://github.com/withastro/astro' target='_blank'>GitHub</HeaderLink>
			</div>
		</nav>
	</div>
</header>

<script>
	const pathname = window.location.pathname;
	const hashLinks = document.querySelectorAll(`a[href^="${pathname}#"]`);

	hashLinks.forEach((link) => {
		link.addEventListener('click', (e) => {
			e.preventDefault();

			const targetId = link.getAttribute('href');
			if (!targetId) return;
			const target = document.querySelector(targetId.replaceAll(pathname, ''));
			if (!target) return;

			target.scrollIntoView({ behavior: 'smooth' });
		});
	});
</script>
