---
import { Image } from '@astrojs/image/components';
import profile from '../images/profile.webp';
import boat from '../images/svg/boat.svg';
import '@styles/components/HeroSection.scss';
---

<section class='hero'>
	<div class='header'>
		<h1 class='title'>
			Hi, my name is
			<span>Kainoa Araiza K.</span>
		</h1>
		<h3 class='subtitle'>I'm a highly motivated <strong>front-end developer</strong> from Washington, US.</h3>
	</div>
	<div class='picture'>
		<div class='border'></div>
		<div class='picture__wrapper'>
			<Image src={profile} width={416} height={416} alt='my face' />
		</div>
	</div>
	<div class='waves light-waves' aria-hidden='true'></div>
	<div class='boat' aria-hidden='true'>
		<img src={boat} alt='boat' />
	</div>
	<div class='waves dark-waves' aria-hidden='true'></div>
</section>
