---
import "@styles/components/MagicPortal.scss";
---

<div id="magic-portal" tabindex="-1" class="hide">
    <img src="" alt="" />
</div>

<script>
    import MagicHelper from "@utils/MagicHelper.ts";
</script>
