---
import '@styles/components/ModalPortal.scss';
---

<div id='modal-portal' tabindex='-1'>
	<div id='modal-content'></div>
</div>

<script>
	const portal = document.querySelector('#modal-portal');

	if (portal)
		portal.addEventListener('click', (e) => {
			e.stopImmediatePropagation();

			portal.innerHTML = '';
		});
</script>
