---
import { Image } from '@astrojs/image/components';
import LinkButton from '@components/blocks/LinkButton.astro';
import Clouds from '@components/decor/Clouds.astro';
import '@styles/components/SectionHero.scss';
import profile from '@images/profile.webp';
import boat from '@images/svg/boat.svg';
---

<section class='hero'>
	<Clouds amount={4} />
	<div class='header'>
		<h1 class='title'>
			Hi, my name is
			<span>Kainoa Araiza K.</span>
		</h1>
		<h3 class='subtitle'>
			I'm a highly motivated <strong>front-end developer</strong> from
			<span> Washington, US.</span>
		</h3>
	</div>
	<div class='picture'>
		<div class='border'></div>
		<div class='picture__wrapper'>
			<Image src={profile} width={416} height={416} alt='my face' />
		</div>
	</div>
	<div class='btns'>
		<LinkButton href='#' classes='work'>See my work</LinkButton>
		<LinkButton href='#' classes='contact'>Contact me</LinkButton>
	</div>
	<div class='waves light-waves' aria-hidden='true'></div>
	<div class='boat' aria-hidden='true'>
		<img src={boat} alt='boat' />
	</div>
	<div class='waves dark-waves' aria-hidden='true'></div>
</section>
