---
import Date from '@components/blocks/Date.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import '@styles/layouts/BlogPostLayout.scss';

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog', ({ id }) => id.startsWith('projects/'));

	return blogEntries.map((entry) => ({
		params: { slug: entry.slug.replace('projects/', '') },
		props: { entry },
	}));
}

interface Props {
	entry: CollectionEntry<'blog'>;
}

const { entry } = Astro.props;
const { title, tags, datePublished, dateUpdated } = entry.data;
const { Content } = await entry.render();
---

<BaseLayout>
	<main>
		<section class='post'>
			<h1>{title}</h1>
			<span class='dates'>
				<Date date={datePublished} />
				{
					dateUpdated && (
						<Fragment>
							{' '}
							— Updated <Date date={dateUpdated} />
						</Fragment>
					)
				}
			</span>
			<Content />
		</section>
	</main>
</BaseLayout>
