main {
	& > section {
		padding: 0.75rem 1rem;
		background-color: $c-background;
		border: 2px solid $c-border;
		@include fit-page;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		h1 {
			color: $c-blood;
			font-size: 2.5rem;

			&::before {
				font-family: 'Windows';
				content: '‡ ';
			}
		}
	}
}

.bg-abstract {
	position: fixed;
	z-index: -1;

	&-1 {
		top: -100px;
		right: -50px;
	}

	&-2 {
		top: 375px;
		left: -100px;
	}

	&-3 {
		top: 800px;
		right: -120px;
	}
}
