main {
	& > section {
		padding: 0.75rem 1rem;
		background-color: $c-background;
		border: 2px solid $c-border;
		@include fit-page;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		h1 {
			color: $c-blood;
			line-height: 0.8;
			margin-block: 8px;

			&::before {
				margin-right: 0.25em;
				vertical-align: middle;
				font-family: 'FreePixel';
				content: '‡';
			}
		}

		h2 {
			margin-top: 2em;
			margin-bottom: 0.25em;
			border-bottom: 1px solid $c-border;
			line-height: 1.3;

			&::before {
				margin-right: 0.25em;
				font-family: 'FreePixel';
				font-weight: 400;
				content: '†';
			}
		}
	}
}

.bg-abstract {
	position: fixed;
	right: 50%;
	z-index: -1;

	@include for-size(700px) {
		transform: none !important;
	}

	&-1 {
		top: -100px;
		transform: translate(520px, 0);

		@include for-size(700px) {
			right: -10%;
		}
	}

	&-2 {
		top: 375px;
		transform: translate(-350px, 0);

		@include for-size(700px) {
			top: 40%;
		}
	}

	&-3 {
		top: 800px;
		transform: translate(650px, 0);

		@include for-size(700px) {
			top: 90%;
			right: -50%;
		}
	}
}
