@use "src/styles/abstracts/variables" as *;
@use "src/styles/abstracts/mixins" as *;

section.gallery {
	.gallery-content {
		display: grid;
		gap: 32px;
		margin-top: 16px;
		grid-template-columns: repeat(2, 1fr);

		@include for-size(phone) {
			grid-template-columns: 1fr;
		}

		img {
			image-rendering: auto;
			border: 1px solid $c-border;
		}
	}
}