section.posts-listing {
	h1 {
		margin-bottom: 16px;
	}

	article {
		display: flex;
		justify-content: space-between;
		align-items: end;
		margin-bottom: 8px;
		border-bottom: 1px solid $c-border;

		a {
			color: $c-foreground;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		time {
			color: $c-foreground-medium;
			font-size: 0.875rem;
		}
	}
}
