section.post {
	.pre-header {
		margin-bottom: 16px;
	}

	.dates {
		margin-bottom: 16px;
		color: $c-foreground-medium;
		font-size: $font-size-small;
	}

	img {
		margin-bottom: 32px;
	}

	:not(pre) > code {
		padding: 0 0.25em;
		background-color: $c-background;
		border: 1px solid $c-border;
	}

	pre {
		$line-height: 1.3;
		margin: 1.5em 0;
		padding: 4px;
		line-height: $line-height;

		code {
			background-color: transparent;
			line-height: $line-height;

			span {
				line-height: $line-height;
			}
		}
	}

	button.scroll-up {
		display: block;
		margin: 0 auto;
		margin-top: 16px;
		color: $c-link;
		background-color: transparent;
		border: none;
		text-decoration: underline;

		&:hover {
			color: $c-link-hover;
			cursor: pointer;
		}
	}
}
