section.post {
	.dates {
		margin-bottom: 16px;
		font-size: 0.875rem;
		color: $c-foreground-medium;
	}

	h2 {
		margin-top: 0.875em;

		&::before {
			font-family: 'Windows';
			content: '† ';
		}
	}
}
