section.post {
	.dates {
		margin-bottom: 16px;
		color: $c-foreground-medium;
		font-size: 0.875rem;
	}

	h2 {
		margin-top: 0.875em;

		&::before {
			font-family: 'Windows';
			content: '† ';
		}
	}

	button.scroll-up {
		display: block;
		margin: 0 auto;
		margin-top: 16px;
		color: $c-link;
		background-color: transparent;
		border: none;
		text-decoration: underline;

		&:hover {
			color: $c-link-hover;
			cursor: pointer;
		}
	}
}
