---
import Header from '@components/Header.astro';
import BaseHead from '@components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/config';
import '@styles/components/BaseLayout.scss';

interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<img class='bg-abstract bg-abstract-1' src='images/abstract1.webp' alt='' />
		<img class='bg-abstract bg-abstract-2' src='images/abstract2.webp' alt='' />
		<img class='bg-abstract bg-abstract-3' src='images/abstract3.webp' alt='' />
		<Header />
		<slot />
	</body>
</html>
