---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import '@styles/layouts/PostsListLayout.scss';

interface Props {
	listTitle: string;
	postsList: CollectionEntry<'project'>[] | CollectionEntry<'blog'>[];
	postDirectory: string;
}

const { listTitle, postsList, postDirectory } = Astro.props;

const sortedList = postsList.sort((a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf());
---

<BaseLayout>
	<main>
		<section class='posts-list'>
			<div class='posts-list__header'>
				<h1>{listTitle}</h1>
				<fieldset class='sorting-controls'>
					<legend> Sort by:</legend>
					<input type='radio' id='asc' value='asc' name='sort' checked />
					<label for='asc'>asc ↑</label>
					<input type='radio' id='desc' value='desc' name='sort' />
					<label for='desc'>desc ↓</label>
				</fieldset>
			</div>
			{
				sortedList.map((post) => {
					const { title, datePublished } = post.data;

					return (
						<article class='posts-list__item'>
							<a href={`/${postDirectory}/${post.slug}`}>{title}</a>
							<time>
								{datePublished.toLocaleDateString('en-US', {
									month: 'short',
									day: '2-digit',
									year: 'numeric',
								})}
							</time>
						</article>
					);
				})
			}
		</section>
	</main>
</BaseLayout>

<script></script>
