---
import '@styles/components/decor/Bubbles.scss';

interface Props {
	['class']?: string;
	amount: number;
}

const { class: className, amount } = Astro.props;
---

<div class:list={['bubbles-container', className]} data-amount={amount} data-aos='bubble' data-aos-offset='0'></div>

<script>
	import createDecorGroups from '@utils/createDecorGroups';

	const setAnimations: SetAnimations = (i, e, img, delay, duration, amount) => {
		e.style.animationTimingFunction = 'linear';
		e.style.animationDuration = `${duration}s`;
		e.style.animationDelay = `${(duration / amount) * i}s`;
		e.style.animationIterationCount = `2`;
	};

	createDecorGroups('.bubbles-container', ['images/svg/bubble.svg'], setAnimations, {
		sizeRange: [24, 32],
		animDelayMax: 0,
		animDurMin: 1500,
		animDurMax: 1500,
	});
</script>
