---
import '@styles/components/decor/FishSchool.scss';

interface Props {
	['class']?: string;
	amount: number;
}

const { class: className, amount } = Astro.props;
---

<div
	class:list={['fish-school', className]}
	data-amount={amount}
	data-aos='swim-away'
	data-aos-offset='0'
	aria-hidden='true'
>
</div>

<script>
	import createDecorGroups from '../../utils/createDecorGroups';

	const setAnimations: SetAnimations = (i, e, img, delay, duration) => {
		e.style.animation = `fish-jump ${duration * 0.25}s ease-in ${delay}s forwards, 
        fish-swim-away ${duration * 0.6}s ease-in ${duration * 0.4 + delay}s forwards`;

		img.style.animationDelay = `${delay}s`;
		img.style.animation = `fish-turn ${duration * 0.4}s ease-in forwards`;
	};

	createDecorGroups(
		'.fish-school',
		['images/svg/fish/FluentEmojiFish.svg', 'images/svg/fish/FluentEmojiTropicalFish.svg'],
		setAnimations,
		{
			sizeRange: [16, 28],
			animDelayMax: 700,
			animDurMin: 1000,
			animDurMax: 1600,
		}
	);
</script>
